*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.pointer {cursor: pointer;
}
nav{
  background-color: rgb(8, 8, 8);
  height: 50px;
  width: 100%;
  z-index: 999;
}
.bg-img-header{

  background-image: url(../images/xbg2.jpg.pagespeed.ic.QoUnFCtMkz.webp);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 131%;
  z-index: 22;
  position: relative;
}
.container{
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-evenly;
    border-bottom: 2px solid rgb(126, 124, 124);
    background-color: #1d1c1c;
}
.overlay{
  background-color: rgb(0 0 0 / 75%);
  height: 100%;
  color: #fff;
}
.bg-img-header ul {
  list-style-type: none;
  width: 48%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
  .bg-img-header li a {
    color: #8d8d8d;
    text-align: center;
    text-decoration: none;
  }
  
  .bg-img-header .active,.container li a:hover {
    color: white;
  } 
  .bg-img-header .container div h3{
    color: #fff;
    width: 30%;
    height: 40px;
    display: flex;
    align-items: center;
  }
  .main-content-wrapper{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    color: #8d8d8d;
    padding-bottom: 30px;
  }
  .main-Circle{
    display: flex;
    width: 27%;
    align-items: center;
    margin-top: 30%;
  }
  .Circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 5px solid #8d8d8d;
    margin-right: 15px;
    text-align: center;
    line-height: 1.9;
  }
  .main-Circle .border-blue{
    border: 5px solid blue;
    border-left: 5px solid #8d8d8d;
  }
  .Circle h1{
    text-align: center;
    padding: 15px;
  }
.main_content{
  width: 80%;
  margin:auto;
  margin-top: 55px;

}
.section_one{
  display: flex;
  width: 85%;
  margin: auto;
}

.left-column{
  width: 70%;
  

} 
.nav-list{
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #f1f1f1;
  padding: 10px 0;

}
.left-column div .text{
  width: 26%;
} 
.list{
  width: 80%;
  display: flex;
  justify-content: space-around;
}
.mytab{
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
}
.mytab_left {
  width: 49%;
  
}
.mytab_left_main{
  width: 95%;
  box-shadow: 0px 2px 5px 1px #c8c2c2;
}
.mytab_left .img-left{
  background-image: url(../images/xb1.jpg.pagespeed.ic.k36RVi3JXY.webp);
  width: 100%;
  height: 180px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.mytab_left_textunderimg{
  padding: 8px 30px 0;

}
.mytab_left_textunderimg :nth-child(odd){
  padding: 14.8px 0;
}
.mytab_left_textunderimg p {
  color: #8d8d8d;
  padding: 2px 0;
}
.mytab_right {
  width: 49%;
}
.mytab_right_main{
  width: 100%;
  box-shadow: 0px 2px 5px 1px #c8c2c2;
}
.mytab_right_textunderimg{
  padding: 8px 30px 6px 40px;

}
.mytab_right_textunderimg :nth-child(odd){
  padding: 9px 0;
}
.mytab_right_textunderimg p {
  color: #8d8d8d;
  padding: 10px 0;

}
.top-right-tab ,.column-right-tab{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  box-shadow: 0px 2px 5px 1px #c8c2c2;
}
.column-right{
  padding: 10px 0px 10px 30px;
}
.top-right-img{
  width: 28%;
}
.column-right-img{
  width: 26%;
}
.img-one{
  background-image: url(../images/xb3.jpg.pagespeed.ic.ZoWo4VzCxa.webp);
  background-size: cover;
}
.img-two{
  background-image: url(../images/xb18.jpg.pagespeed.ic.4jSvdTLDPE.webp);
  background-size: cover;
}
.img-three{
  background-image: url(../images/xb12.jpg.pagespeed.ic.Vd81Fis15q.webp);
  background-size: cover;
}
.img-four{
  background-image: url(../images/xb17.jpg.pagespeed.ic.Mxqeq8BZPv.webp);
  background-size: cover;
}
.img-five{
  background-image: url(../images/xb21.jpg.pagespeed.ic.JPRKDRNWJc.webp);
  background-size: cover;
}
.img-xp2{
  background-image: url(../images/xb2.jpg.pagespeed.ic.G3CqIJTFth.webp);
  background-size: cover;
  width: 100%;
  height: 180px;
  background-repeat: no-repeat;
}
.img-xp3{
  background-image: url(../images/xb3.jpg.pagespeed.ic.ZoWo4VzCxa.webp);
  background-size: cover;
  width: 100%;
  height: 180px;
  background-repeat: no-repeat;
}
.img-xp22{
  background-image: url(../images/xb22.jpg.pagespeed.ic.UNPIZqj0g-.webp);
  background-size: cover;
  width: 90%;
  height: 180px;
  margin: 30px 30px 15px;
}
.card-img-xb4{
  background-image: url(../images/xb4.jpg.pagespeed.ic.LdOhOhXA0d.webp);
  background-size: cover;
  width: 32%;
}
.card-img-xb5{
  background-image: url(../images/xb5.jpg.pagespeed.ic.jZY-CzMMWG.webp);
  background-size: cover;
  width: 33.3%;
}
.card-img-xb6{
  background-image: url(../images/xb6.jpg.pagespeed.ic.aXbP7WaRAn.webp);
  background-size: cover;
  width: 29.5%;
}
.img-xb18{
  background-image: url(../images/xb18.jpg.pagespeed.ic.4jSvdTLDPE.webp);
  background-size: 100% 100%;
    width: 28%;
}
.img-xb19{
  background-image: url(../images/xb19.jpg.pagespeed.ic.uMNzupn9gY.webp);
  background-size: 100% 100%;
    width: 28%;
}
.img-xb20{
  background-image: url(../images/xb20.jpg.pagespeed.ic.XGTq6OgGTO.webp);
  background-size: 100% 100%;
    width: 28%;
}
.img-xb21{
  background-image: url(../images/xb21.jpg.pagespeed.ic.JPRKDRNWJc.webp);
  background-size: 100% 100%;
    width: 28%;
}
.img-xb7{
  background-image: url(../images/xb7.jpg.pagespeed.ic.Sng7uN2r6m.webp);
    background-size: 100% 100%;
    width: 100%;
    height: 175px;
    text-align: center;
    padding-top: 23%;
    color: #8d8d8d;
}
.img-xb8{
  background-image: url(../images/xb8.jpg.pagespeed.ic.uxUt1AjVZD.webp);
    background-size: 100% 100%;
    width: 100%;
    height: 175px;
    text-align: center;
    padding-top: 23%;
    color: #8d8d8d;
}

.top-right-text ,.column-right-text{
  width: 69%;
  padding: 3px;
}
.top-right-text h4 {
  margin-bottom: 15px;
    font-size: 14.5px;
    margin-top: 11.5px;
    padding-right: 16px;
}
.column-right-text h4{
  margin-bottom: 20px;
  font-size: 12px;
  margin-top: 20px;

}
.top-right-text p {
  color: #8d8d8d;
  padding-bottom: 11.5px;
  font-size: 13.5px;
}
.but-icon{
  display: flex;
  color:rgb(126, 124, 124);
  margin: 30px 25px 36px;
}
.icon-left , .icon-right {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #c8c2c2;
  text-align: center;
  font-size: 17px;
  padding-top: 8px;
  margin-right: 20px;
}
.icon-left:hover , .icon-right:hover {
    border: 2px solid #c8c2c2;
    background-color: blue;
}
.icon-left a, .icon-right a {
  color: #c8c2c2;

}
.tab-two{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.mytab_all{
  display: flex;
  justify-content: space-between;
}
.mytab-left{
  width: 49%;
}
.mytab-right{
  width: 49%;
}
.mytab-left-tab{
  display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    box-shadow: 0px 2px 5px 1px #c8c2c2;
    width: 95%;
    margin-top: 9px;
}
.mytab-right-tab{
  display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    box-shadow: 0px 2px 5px 1px #c8c2c2;
    width: 100%;
    margin-top: 9px;
}
/* ---------------------- */
.right-column{
  width: 28%;
  height: 100%;
  border-left: 2px solid #f1f1f1;
  margin-left: auto;
} 
.right-column h1{
 border-bottom: 2px solid #f1f1f1;
 padding: 10px 30px;
 

} 
.right-column p{
  border-bottom: 2px solid #f1f1f1;
  padding: 25px 0 20px 30px;
  color: #8d8d8d;
} 
.right-column h5{
  margin: 20px 0 30px 30px;
  font-size: 18px;
} 
.stay-connected{
  margin-top: 20px;
  border-top: 2px solid #f1f1f1;
}
.socilMedia-container__icon{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 30px 0 30px 30px;

}
.socilMedia-container__icon a{
color: #8d8d8d;
height: 30px;
    width: 30px;
    border: 1px solid;
    border-radius: 50%;
    text-align: center;
    padding-top: 6px;
}
.socilMedia-container__icon a i:hover{
  color: #007bff;
}
/* ------------------------------------------------------------------ */
.section_one ul {
  list-style-type: none;
  width:88%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  }
  .section_one li a {
    color: #8d8d8d;
    text-align: center;
    text-decoration: none;
  }
  
  .section_one .active,.section_one li a:hover {
    color: black;
    border-bottom: 2px solid #007bff;
    padding-bottom: 13px;

  } 
  /* -----------------------card---------------------------- */
  .row-card .card-information{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    margin-left: 15px;
  }
  .main-card{
    width: 70%;
    margin: auto;
  }
  .card-text{
    color: #fff;
    text-align: center;
    padding: 20px;
    }
  .card-text h1{
    margin: 22px 0;
    font-size: 17px;
      }
  .card-text p{
    color: #8d8d8d;
  }
  .card-text button{
    color: #007bff;
    background-color: #fff;
    padding: 4px 15px;
    border: none;
  }
  .card-text button:hover{
    color: #fff;
    background-color:#007bff ;
    padding: 4px 15px;
    border: none;
  }
  .overflow{
    background-color:#00000085;
  }
  /* -------------- last-section---------------- */
  .last-section{
    width: 85%;
    margin: auto;
    margin-top: 54px;

  }
  .last-section .flex {
    display: flex;
    width: 83%;
    margin: auto;
    justify-content: space-between;
    margin-left: 130px;

  }
  .last-section .flex  .border-bottom{
    border-bottom: 2px solid #f1f1f1;
    padding: 10px 0;
    margin-bottom: 30px;
}
  
  .last-section .flex .left-tab {
    width: 67.5%;
  }
  .last-section .flex .right-tab {
    width: 30%;
  }
  .flex .single-post{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    box-shadow: 0px 2px 5px 1px #c8c2c2;
    height: 22%;
  }
  .flex .single-post .single-post-text{
    padding: 25px 30px;
    width: 72%;
  }
  .flex .single-post .single-post-text p{
    padding: 25px 0px;
  }
  .single-post-right{
    margin-top: 5px;
    box-shadow: 0px 2px 5px 1px #c8c2c2;
    height: 44.5%;
  }
  .icon-video i{
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    color: #8d8d8d;
    padding-top: 12px;
  }
  .icon-video i:hover{
    color: #007bff;
  }
  .single-post-right .single-post-text{
    padding: 25px 30px;
  }
  .single-post-right .single-post-text p{
    padding: 15px 0;
  }
  .load-more-btn{
    width: 12%;
    margin: 30px auto; 
  }
  
  .load-more-btn a
  {
    text-decoration: none;
    color: #928a8a;
    border:1px solid #c8c2c2;
    width: 20%;
    margin: 15px;
    text-align: center;
    border-radius: 10px;
    padding: 7px 25px;
    }
  .load-more-btn a:hover{
    background-color: #007bff;
    color: white;
   }
   /* footer */
footer{
  width: 100%;
  height: 100%;
  margin-top: 50px;
  background-color: black;
}
footer p{
  color:#a7a4a4;
  text-align: center ;
  padding-bottom: 10px;
}
footer .icon-backtob{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #1d1c1c;
  text-align: center;
  position: fixed;
  bottom: 88px;
  right: 7%;
  padding-top: 10px;
  z-index: 1;
}
footer .icon-backtob:hover{
  background-color: #007bff;
  
}
footer .icon-backtob a{
  margin-top: 5px;
  font-size: 25px;
  color: aliceblue;
}
.main-footer{
  display: flex;
  width: 72%;
  margin: auto;
  justify-content: space-between;
  margin-right: 187px;
  padding: 46px 0;
}
.main-footer .left , .main-footer .right h3{
  width: 30%;
  color: #fff;
}
.main-footer .left p{
  text-align: start;
  margin-top: 10px;
}
.main-footer .center{
  width: 30%;
  
}
.main-footer .right{
  width: 30%;
}
.main-footer .right input{
  border: none;
  width: 90%;
  height: 30px;
  background: black;
  border-bottom: 1px solid #8d8d8d;
  margin-top: 12px;
  color: #8d8d8d;
}
.main-footer .right input::placeholder{
  padding: 5px;
}
.main-footer .right button{
  background: transparent;
    border: none;
    position: absolute;
    right: 15%;
    margin-top: 21px;
}
.main-footer .right button i{
  color: #8d8d8d;
}
.footer-menu {
  display: flex;
  flex-wrap: wrap;
 
}
.footer-menu li a {
font-size: 16px; 
text-decoration: none;
color: #8d8d8d;
}
.footer-menu li a:hover {
color: #007bff;
}
.footer-menu li  {
  width: 33%;
  padding-top: 9px;
}